body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #b3d6d6;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ec0b0b;
  font-size: 70px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#pregunta {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#respuestaInput {
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #c50909;
  border-radius: 25px;
  font-size: 30px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#responderBtn {
  padding: 30px 20px;
  background-color: #ff6600;
  color: #fff;
  border: black;
  border-radius: 30px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
}

#responderBtn:hover {
  background-color: #ff8533;
}

#respuesta {
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  color: #2eec08;
  text-shadow: 1px 1px 2px rgba(7, 192, 22, 0.3);
}

#puntaje {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  color: #c50909;
  text-shadow: #ec0b0b;

}

/* Estilos para el puntaje final */
#mostarpuntajeFinal {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos para el inicio */
#nombreJugador {
  font-size: 18px;
  margin-bottom: 10px;
}
  